<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Create</title>


<link href="{{ url_for('static',filename='bootstrap.min.css') }}"
	rel="stylesheet" type="text/css" />

<link href="{{ url_for('static',filename='bootstrap-select.min.css') }}"
	rel="stylesheet" type="text/css" />
<link href="static/css/style.css" rel="stylesheet" type="text/css">
<script src="{{ url_for('static',filename='iscsi_create.js') }}"></script>
<style type="text/css">
body {
	padding: 10px;
}
</style>

</head>

<body>
	<div class="container">
		<div class="row clearfix">

			<!-- ------------------------ -->
			<div class="col-md-12 ">
				<div class="page-header">
					<h1>
						操作区 <small>Host</small>
					</h1>
				</div>
				<div class="form-group">
					<label for="inputEmail" class="col-sm-2 control-label">Host_Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="Host_Name"
							placeholder="请输入" style="width: 200px;" value=""
							onchange="Host_Name_myFunction()"> <span class="red">
							<span id="Host_Name_Examine" class="hidden">Host已存在！</span>
						</span>
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword" class="col-sm-2 control-label">Host_iqn</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="Host_iqn"
							placeholder="请输入" style="width: 200px;" value="">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default" data-toggle="modal"
							name="Host_create" id="Host_create" data-target="#myModal1">Create</button>
					</div>
				</div>
			</div>
			<script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>

			<!-- ------------------------ -->
			<div class="col-md-12 column">
				<div class="page-header">
					<h1>
						操作区 <small>HostGroup</small>
					</h1>
				</div>
				<div class="form-group">
					<label for="inputEmail" class="col-sm-2 control-label">HostGroup_Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="HostGroup_Name"
							placeholder="请输入" style="width: 200px;" value=""
							onchange="HG_Name_myFunction()"> <span class="red">
							<span id="HG_Name_Examine" class="hidden">HostGroup
								Name已存在！</span>
						</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 ">Host</label>

					<div style="width: 340px;" class="col-sm-10 ">
						<select id='Host' name="Host" multiple class="selectpicker"
							data-live-search="true">
						</select>
					</div>
					<script src="{{ url_for('static',filename='JQuery.js') }}"></script>
					<script src="{{ url_for('static',filename='bootstrap.js') }}"></script>
					<script
						src="{{ url_for('static',filename='bootstrap-select.js') }}"></script>
					<script src="{{ url_for('static',filename='iscsi_create2.js') }}"></script>
					<script type="text/javascript">
	
				
					</script>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default" data-toggle="modal"
							name="HostGroup_create" id="HostGroup_create"
							data-target="#myModal1">Create</button>
					</div>
				</div>
			</div>

			<div class="col-md-12 ">
				<div class="page-header">
					<h1>
						操作区 <small>DiskGroup</small>
					</h1>
				</div>
				<div class="form-group">
					<label for="inputEmail" class="col-sm-2 control-label">DiskGroup_Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="DiskGroup_Name"
							placeholder="请输入" style="width: 200px;" value=""
							onchange="DG_Name_myFunction()"> <span class="red">
							<span id="DG_Name_Examine" class="hidden">DiskGroup
								Name已存在！</span>
						</span>
					</div>
					<div class="form-group">
						<label class="col-sm-2 c">Disk</label>

						<div style="width: 340px;" class="col-sm-10 ">
							<select id='Disk' name="Disk" multiple class="selectpicker"
								data-live-search="true">
							</select>
						</div>


					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default" data-toggle="modal"
								name="DiskGroup_create" id="DiskGroup_create"
								data-target="#myModal1">Create</button>
						</div>
					</div>
				</div>

				<!-- ------------------------ -->
				<div class="col-md-12 column">

					<div class="page-header">
						<h1>
							操作区 <small>Map</small>
						</h1>
					</div>
					<div class="form-group">
						<label for="inputEmail" class="col-sm-2 control-label">Map_Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="Map_Name"
								placeholder="请输入" style="width: 200px;" value=""
								onchange="Map_Name_myFunction()"> <span class="red">
								<span id="Map_Name_Examine" class="hidden">Map Name已存在！</span>
							</span>
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword" class="col-sm-2 control-label">Host_Group</label>

						<div style="width: 340px;" class="col-sm-10 ">
							<select id='Host_Group' name="Host_Group" class="selectpicker"
								data-live-search="true">
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword" class="col-sm-2 control-label">Disk_Group</label>

						<div style="width: 340px;" class="col-sm-10 ">
							<select id='Disk_Group' name="Disk_Group" class="selectpicker"
								data-live-search="true">
							</select>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default" data-toggle="modal"
								name="Map_create" id="Map_create" data-target="#myModal1">Create</button>
						</div>
					</div>
				</div>
			</div>
			<!-- 模态框 -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">模态框（Modal）标题</h4>
						</div>
						<div class="modal-body">
							<div class="progress progress-striped active">
								<div id="prog" class="progress-bar" role="progressbar"
									aria-valuenow="" aria-valuemin="0" aria-valuemax="100"
									style="width: 0%;">
									<span id="monthTotal">${itsmStatisticMonth.sumCount}</span>
								</div>
							</div>
							<input type="text" id="double" name="double" value="">
						</div>
						<div class="modal-footer">
							<button type="button" id="newcreate" class="btn btn-default"
								data-dismiss="modal">再次创建</button>
							<input type="button" class="btn btn-default" value="查看表格"
								id="see">
						</div>

					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
		</div>

	</div>

	<script src="{{ url_for('static',filename='layui.all.js') }}"></script>
	<script src="{{ url_for('static',filename='iscsi_create3.js') }}"></script>
	<script type="text/javascript">
$("#newcreate").click(function(){
 	$("input[type=text]").val('');
});
</script>

</body>
</html>