<!DOCTYPE HTML>
<html>
<head>
<title>iscsi all</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
<link
	href="{{url_for('static',filename='bootstrap-3.3.7/dist/css/bootstrap.min.css')}}"
	rel="stylesheet" type="text/css" />
<link
	href="{{url_for('static',filename='bootstrap-select-1.12.4/dist/css/bootstrap-select.min.css')}}"
	rel="stylesheet" type="text/css" />
<link href="{{url_for('static',filename='personal/css/style.css')}}"
	rel="stylesheet" type="text/css" />
<link href="{{url_for('static',filename='assets/css/main.css')}}"
	rel="stylesheet" type="text/css" />
	<link href="{{url_for('static',filename='assets/css/noscript.css')}}"
		rel="stylesheet" type="text/css" />
</head>
<body class="is-preload">

	<div id="wrapper">

		<header id="header">
			<div class="logo">
				<span class="icon fa-gem"></span>
			</div>
			<div class="content">
				<div class="inner">
					<h1>iscsi All functions</h1>
				</div>
			</div>
			<nav>
				<ul>
					<li><a href="/iscsi/create">Create</a></li>
					<li><a href="#Show">Show</a></li>
					<li><a href="#Delete">Delete</a></li>
					<!--<li><a href="#elements">Elements</a></li>-->
				</ul>
			</nav>
		</header>

		<div id="main">
		</div>

		<!-- Footer -->
		<footer id="footer">
			<p class="copyright">
				&copy; xxxxx<a href="">xxxx</a>.
			</p>
		</footer>

	</div>

	<!-- BG -->
	<div id="bg"></div>

	<!-- Scripts -->
	<script type="text/javascript"
		src="{{url_for('static',filename='assets/js/jquery.min.js')}}"></script>
	<script type="text/javascript"
		src="{{url_for('static',filename='bootstrap-3.3.7/dist/js/bootstrap.js')}}"></script>
	<script type="text/javascript"
		src="{{url_for('static',filename='bootstrap-select-1.12.4/dist/js/bootstrap-select.js')}}"></script>
	<script type="text/javascript"
		src="{{url_for('static',filename='personal/js/iSCSI-Confirm-update-box.js')}}"></script>
	<script type="text/javascript"
		src="{{url_for('static',filename='personal/js/iSCSI-input-inspection.js')}}"></script>
	<script type="text/javascript"
		src="{{url_for('static',filename='assets/js/browser.min.js')}}"></script>
	<script type="text/javascript"
		src="{{url_for('static',filename='assets/js/breakpoints.min.js')}}"></script>
	<script type="text/javascript"
		src="{{url_for('static',filename='assets/js/util.js')}}"></script>
	<script type="text/javascript"
		src="{{url_for('static',filename='assets/js/main.js')}}"></script>
	<script type="text/javascript"
		src="{{url_for('static',filename='layui/layui.all.js')}}"></script>


</body>
</html>
