<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>HostGroup</title>

<link
	href="{{url_for('static',filename='bootstrap-3.3.7/dist/css/bootstrap.min.css')}}"
	rel="stylesheet" type="text/css" />
<style type="text/css">
body {
	padding: 10px;
}

.col-xs-5 {
	width: 28.66666667%;
}

.col-xs-1 {
	width: 15.66666667%;
}
</style>
</head>

<body>
	<div class="container">
		<h1>
			<small>Create</small>
		</h1>
		<div class="row">
			<div class="col-xs-5 " style="width: 10">
				<div class=".table-responsive"
					style="overflow-x: auto; overflow-y: auto; height: 200px; width: 140px;">
					<table id="HTable" class="table  table-hover table-bordered ">
						<thead>
							<tr>
								<th>Host</th>
							</tr>
						</thead>
						<tbody id="H_T">
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-xs-2 ">
				<button class="btn btn-primary btn-large btn-block" type="button"
					id="btn" data-method="append" onclick="demo()">--></button>
				<button id="btn1" class="btn btn-primary btn-large btn-block"
					type="button" onclick="demo1()"><---</button>
			</div>
			<div class="col-xs-5 ">
				<div class=".table-responsive"
					style="overflow-x: auto; overflow-y: auto; height: 200px; width: 140px;">
					<table id="HTable_Show" class="table table-hover table-bordered">
						<thead>
							<tr>
								<th>Host</th>
							</tr>
						</thead>
						<tbody id="H_T_Show">
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<br></br>
		<div class="row">
			<div class="col-xs-6 ">
				<label for="host_group_name" class="col-sm-2 control-label">Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="host_group_name"
						placeholder="请输入" style="width: 200px;" value=""
						onchange="hg_name_myfunction()"> <input id="hg_name_hid"
						hidden="hidden" value="0"> <input
						id="hg_name_verify_status" hidden="hidden" value="0"> <span
						class="red"> <span id="hg_name_examine" class="hidden">HostGroup
							Name已存在！</span> <span id="hg_name_format" class="hidden">开头只能输入字母，仅包含字母，数字，以及下划线</span>
					</span>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default" data-toggle="modal"
							name="host_group_create" id="host_group_create"
							data-target="#myModal1">Create</button>
					</div>
				</div>
			</div>
			<div class="col-xs-6 "></div>
		</div>
	</div>
</body>
<script type="text/javascript"
	src="{{url_for('static',filename='personal/js/JQuery.js')}}"></script>
<script type="text/javascript"
	src="{{url_for('static',filename='bootstrap-3.3.7/dist/js/bootstrap.min.js')}}"></script>
<script type="text/javascript"
	src="{{url_for('static',filename='personal/js/iSCSI-hostgroup-create2.js')}}"></script>
<script type="text/javascript">

	</script>
</html>