<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Map</title>

<link
	href="{{url_for('static',filename='bootstrap-3.3.7/dist/css/bootstrap.min.css')}}"
	rel="stylesheet" type="text/css" />
<link
	href="{{url_for('static',filename='bootstrap-select-1.12.4/dist/css/bootstrap-select.min.css')}}"
	rel="stylesheet" type="text/css" />
<link href="{{url_for('static',filename='personal/css/style.css')}}"
	rel="stylesheet" type="text/css" />
<style type="text/css">
body {
	padding: 10px;
}

table.table tr th, td {
	text-align: center;
	cursor: pointer;
}

.col-xs-5 {
	width: 30.66666667%;
}

.col-xs-1 {
	width: 12.66666667%;
}
</style>

</head>

<body>
	<div class="container">
		<div class="page-header">
			<h1>
				<small>Create</small>
			</h1>
		</div>
		<br>
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="col-xs-5 " style="width: 10">
						<div class=".table-responsive"
							style="overflow-x: auto; overflow-y: auto; height: 180px; width: 180px;">
							<table id="HgTable" class="table table-hover table-bordered">
								<thead>
									<tr>
										<th>Hg_old</th>
									</tr>
								</thead>
								<tbody id="Hg_T">
								</tbody>
							</table>
						</div>
					</div>
					<div class="col-xs-1 ">
						<button class="btn btn-primary btn-large btn-block" type="button"
							id="btn" data-method="append">--></button>
						<button id="btn1" class="btn btn-primary btn-large btn-block"
							type="button"><---</button>
					</div>
					<div class="col-xs-5 ">
						<div class=".table-responsive"
							style="overflow-x: auto; overflow-y: auto; height: 180px; width: 180px;">
							<table id="HgTable_Show" class="table table-hover table-bordered">
								<thead>
									<tr>
										<th>Hg_new</th>
									</tr>
								</thead>
								<tbody id="Hg_T_Show">
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class=".table-responsive"
					style="overflow-x: auto; overflow-y: auto; height: 180px; width: 180px;">
					<table id="HTable" class="table table-hover table-bordered">
						<thead>
							<tr>
								<th>Specific data </th>
							</tr>
						</thead>
						<tbody id="H_T">
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="col-xs-5 " style="width: 10">
						<div class=".table-responsive"
							style="overflow-x: auto; overflow-y: auto; height: 180px; width: 180px;">
							<table id="DTable" class="table table-hover table-bordered">
								<thead>
									<tr>
										<th>dg_old</th>
									</tr>
								</thead>
								<tbody id="Dg_T">
								</tbody>
							</table>
						</div>
					</div>
					<div class="col-xs-1 ">
						<button class="btn btn-primary btn-large btn-block" type="button"
							id="btn" data-method="append">--></button>
						<button id="btn1" class="btn btn-primary btn-large btn-block"
							type="button"><--</button>
					</div>
					<div class="col-xs-5 ">
						<div class=".table-responsive"
							style="overflow-x: auto; overflow-y: auto; height: 180px; width: 180px;">
							<table id="DdTable_Show" class="table table-hover table-bordered">
								<thead>
									<tr>
										<th>dg_new</th>
									</tr>
								</thead>
								<tbody id="Dd_T_Show">
								</tbody>
							</table>
						</div>
					</div>
				</div>

			</div>
			<div class="col-md-4">
				<div class=".table-responsive"
					style="overflow-x: auto; overflow-y: auto; height: 180px; width: 180px;">
					<table id="HTable" class="table table-hover table-bordered">
						<thead>
							<tr>
								<th >Specific data</th>
							</tr>
						</thead>
						<tbody id="H_T">
						</tbody>
					</table>
				</div>
			</div>
		</div>
	<div class="page-header"></div>
		<div class="col-xs-6 ">
			<label for="map_name" class="col-sm-2 control-label">Name</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="map_name"
					placeholder="请输入" style="width: 200px;" value=""
					onchange="map_name_myfunction()"> <input id="map_name_hid"
					hidden="hidden" value="0"> <input
					id="map_name_verify_status" hidden="hidden" value="0"> <span
					class="red"> <span id="map_name_examine" class="hidden">Map
						Name已存在！</span> <span id="map_name_format" class="hidden">开头只能输入字母，仅包含字母，数字，以及下划线</span>
				</span>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default" data-toggle="modal"
						name="map_create" id="map_create" data-target="#myModal1">Create</button>
				</div>
			</div>
		</div>
		<div class="col-xs-6 "></div>
	</div>


	<script type="text/javascript"
		src="{{url_for('static',filename='personal/js/JQuery.js')}}"></script>
	<script type="text/javascript"
		src="{{url_for('static',filename='bootstrap-3.3.7/dist/js/bootstrap.js')}}"></script>
	<script type="text/javascript"
		src="{{url_for('static',filename='bootstrap-select-1.12.4/dist/js/bootstrap-select.js')}}"></script>
	<script type="text/javascript"
		src="{{url_for('static',filename='personal/js/iSCSI-map-create.js')}}"></script>
	<script type="text/javascript"
		src="{{url_for('static',filename='layui/layui.all.js')}}"></script>

	<script type="text/javascript">
$("#newcreate").click(function(){
 	$("input[type=text]").val('');
});
</script>

</body>
</html>