<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>R_T</title>
<link href="{{url_for('static',filename='layui/css/layui.css')}}"
	rel="stylesheet" type="text/css" />
<style>
body {
	margin: 10px;
}

.demo-carousel {
	height: 200px;
	line-height: 200px;
	text-align: center;
}
</style>

</head>
<body>
	<div class="page-header">
		<h1>
			展示区 <small>Resource</small>
		</h1>
	</div>

	<table class="layui-hide" id="demo" lay-filter="test"></table>
	<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
</script>

	<script type="text/html" id="barDemo1">

  <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
</script>

	<script type="text/javascript"
		src="{{url_for('static',filename='personal/js/JQuery.js')}}"></script>
	<script src="{{ url_for('static',filename='layui/layui.js') }}"></script>
	<script type="text/javascript"
		src="{{url_for('static',filename='personal/js/R_f_son_table.js')}}"></script>
	<script>

</script>
</body>
</body>
</html>
